body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 90%;
    max-width: 1400px; /* 더 큰 너비로 설정 */
    margin-top: 40px;
}

.header {
    margin-bottom: 20px;
}

.user-info {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.user-info label {
    margin-right: 10px;
}

.user-info select {
    margin-right: 20px;
    padding: 5px; /* 선택 상자의 크기 조절 */
}

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 이미지 컨테이너와 버튼을 감싸는 새 컨테이너 추가 */
.image-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    max-width: 650px; /* 이미지 최대 너비를 800px로 설정 */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 왼쪽 이미지와 그 아래의 버튼들을 위한 스타일 */
.left-group {
    text-align: center;
    margin-right: 20px;
}

/* 오른쪽 이미지와 그 아래의 버튼들을 위한 스타일 */
.right-group {
    text-align: center;
    margin-left: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px; /* 버튼의 크기 조절 */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    min-width: 100px;
}

.buttons button:hover {
    background-color: #0056b3;
}

.admin-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.admin-button:hover {
    background-color: #0056b3;
}
